/* Override some defaults */
html, body {
  background: url('../bootstrap/img/debut_light.png');
}

.navbar {
  margin-bottom: 0;
}

.container > footer {
  margin-top: 20px;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

a {
    color: #F48800;
}

a:hover {
    color: #5AF397;
}

.nav > li > a {
    display: inline;
    font-size: 16px;
}

.nav > li > a:hover {
    background-color: inherit;
}

/* header */
header {
    position: fixed;
    top: 20px;
    left: 20px;
}

header ul {
  margin: 0;
}

header li {
    display: inline-block
}

.nav li {
    display: block;
}

.logo.full {
    display: block;
    background: url('../bootstrap/img/nardwuar.png') no-repeat;
    width: 230px;
    height: 230px;
}

.logo.mobile {
  display: none;
  float: left;
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
}

header:nth-child(2) ul {
    display: inline-block;
}

.gh {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../bootstrap/img/github.png');
}

.twitter {
  display: inline-block;
  background: url('../bootstrap/img/twitter.png');
  width: 24px;
  height: 24px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

@media only screen and (max-width: 1258px) {
  header {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }

  header ul {
    float: left;
  }

  .logo.full {
    display: none;
  }

  .logo.mobile {
    display: block;
  }

  .nav li {
    display: inline;
    padding: 0 10px;
  }
}