/* Override some defaults */
html, body {
  background-color: #fff;
}

.navbar {
  margin-bottom: 0;
}

.container > footer {
  margin-top: 20px;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

a {
    color: #F48800;
}

a:hover {
    color: #5AF397;
}

.nav > li > a {
    display: inline;
    font-size: 16px;
}

.nav > li > a:hover {
    background-color: inherit;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

header {
    float: right;
    position: fixed;
    top: 20px;
    right: 20px;
}

header li {
    display: inline-block
}

.nav li {
    display: block;
    text-align: right;
}

.logo {
    display: block;
    background: url("http://davejustice.com/wp-content/themes/biggest%20bootstrap/img/logo.png") no-repeat;
    width: 230px;
    height: 230px;
}

header:nth-child(2) ul {
    display: inline-block;
    text-align: right;
}
