<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>dave's webpage</title>
    <meta name="author" content="dave">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://davejustice.com/assets/themes/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://davejustice.com/assets/themes/twitter/bootstrap/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>

    <header>
      <a class="logo full" href="javascript:void(0)"></a>
      <a class="logo mobile" href="/">Dave Justice</a>
    </header>

    <div class="container">
      <section class="span8 offset1">
        <article class="content">
        {{ content }}
      </article>
    </section>

    </div> <!-- /container -->
  </body>
</html>
